
<div class="card-body"> 
<div class="card">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>IP</th>
        <th>{{nome}}</th>
        <th>{{tecnologia}}</th>
        <th>{{tipo}}</th>
        <th>{{caminho}}</th>
      </tr>
    </thead>
    {{#caminhos}}
      <tr>
        <td>{{{ip}}}</td>
        <td>{{{nome}}}</td>
        <td>{{{tecnologia}}}</td>
        <td>{{{tipo}}}</td>
        <td>{{{caminho}}}</td>
        <td><a href="{{urlcaminho}}?instancia={{instanciaid}}&logid={{logsid}}&ficheiroid={{id}}" class="btn btn-secondary float-right">{{analisar}}</td>
      </tr>
    {{/caminhos}}
  </table>
  {{^caminhos}}
  <div class="card-body"><p>Ainda não foram adicionados caminhos.</p></div>
    {{/caminhos}}
</div>
<br>