
<div class="card-body"> 
<div class="card">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>IP</th>
        <th>Nome</th>
        <th>Tecnologia</th>
        <th>Tipo</th>
        <th>Caminho</th>
      </tr>
    </thead>
    {{#caminhos}}
      <tr>
        <td>{{{ip}}}</td>
        <td>{{{nome}}}</td>
        <td>{{{tecnologia}}}</td>
        <td>{{{tipo}}}</td>
        <td>{{{caminho}}}</td>
        <td><a href="{{urlcaminho}}?instancia={{instanciaid}}&logid={{logsid}}" class="btn btn-secondary float-right">Analisar</td>
      </tr>
    {{/caminhos}}
  </table>
  {{^caminhos}}
  <div class="card-body"><p>Ainda não foram adicionados caminhos.</p></div>
    {{/caminhos}}
</div>
<br>