<div class="card">
  <table class="table table-striped w-auto small">
    <thead>
      <tr>
        <th>{{data}}</th>
        <th>{{tipo}}</th>
        <th>{{codigo}}</th>
        <th>{{subsistema}}</th>
        <th>{{mensagem}}</th>
      </tr>
    </thead>
    {{#log}}
      <tr>
        <td>{{{tempo}}}</td>
        <td>{{{tipo}}}</td>
        <td>{{{codigo}}}</td>
        <td>{{{subsistema}}}</td>
        <td>{{{mensagem}}}</td>
      </tr>
    {{/log}}
  </table>
  {{^log}}
  <div class="card-body"><p>Não foram encontrados nenhuns logs</p></div>
    {{/log}}
</div>