<div class="card">
<div class="card-body">
  <h3 class="float-left">{{instancia}}</h3> 
    <form method='post' action='instancia.php'>
              <input type="hidden" name="novo" value="1">
              <button type="submit" class="btn btn-secondary float-right">
                {{adicionar}}
              </button>
          </form>
    <br></div></div>
<div class="card">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>IP</th>
        <th>{{nome}}</th>
        <th>{{descricao}}</th>
      </tr>
    </thead>
    {{#inst}}
      <tr>
        <td>{{{id}}}</td>
        <td>{{{ip}}}</td>
        <td>{{{nome}}}</td>
        <td>{{{descricao}}}</td>
        <td>
          <form method='post' action='instancia.php'>
              <input type="hidden" name="id" value="{{id}}">
              <button type="submit" class="btn btn-link float-right">
                          <i class="fa fa-edit"></i>
              </button>
          </form>
          </td>
          <td>
          <form method='post' action='delete.php'>
              <input type="hidden" name="instancia_del" value="{{id}}">
              <button type="submit" class="btn btn-link" onclick="return deleteconfirm('Dejesa apagar a instancia e todos os caminhos e logs associados?')">
                          <i class="fa fa-trash-o"></i>
              </button>
          </form>
          </td>
      </tr>
    {{/inst}}
  </table>
  {{^inst}}
  <div class="card-body"><p>Ainda não foram adicionadas instancias.</p></div>
    {{/inst}}
</div>
<br>