<div class="card">
  <table class="table table-striped w-auto small">
    <thead>
      <tr>
        <th>IP</th>
        <th>{{data}}</th>
        <th>Request</th>
        <th>Status</th>
        <th>Size</th>
        <th>HTTP request header</th>
      </tr>
    </thead>
    {{#log}}
      <tr>
        <td>{{{ipcliente}}}</td>
        <td>{{{tempo}}}</td>
        <td style="max-width: 200px">{{{pedcliente}}}</td>
        <td>{{{estadret}}}</td>
        <td>{{{tamresp}}} bytes</td>
        <td style="max-width: 200px">{{{reqheader}}}</td>
      </tr>
    {{/log}}
  </table>
  {{^log}}
  <div class="card-body"><p>Não foram encontrados nenhuns logs</p></div>
    {{/log}}
</div>