<div class="card">
<div class="card-body"> 
  <h3 class="float-left">Caminho Logs</h3>
    <form method='post' action='caminho.php'>
                <input type="hidden" name="novo" value="1">
                <button type="submit" class="btn btn-secondary float-right">
                  Adicionar
                </button>
    </form>
    <br></div></div>
<div class="card">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>IP</th>
        <th>Nome</th>
        <th>Tecnologia</th>
        <th>Tipo</th>
        <th>Caminho</th>
      </tr>
    </thead>
    {{#caminhos}}
      <tr>
        <td>{{{ip}}}</td>
        <td>{{{nome}}}</td>
        <td>{{{tecnologia}}}</td>
        <td>{{{tipo}}}</td>
        <td>{{{caminho}}}</td>
        <td>
          <form method='post' action='caminho.php'>
              <input type="hidden" name="id_update" value="{{id}}">
              <button type="submit" class="btn btn-link float-right">
                          <i class="fa fa-edit"></i>
              </button>
          </form>
        </td>
        <td>
          <form method='post' action='delete.php'>
              <input type="hidden" name="caminho_del" value="{{id}}">
              <button type="submit" class="btn btn-link" onclick="return deleteconfirm('Dejesa apagar o caminho e todos os logs associados?')">
                          <i class="fa fa-trash-o"></i>
              </button>
          </form>
        </td>
      </tr>
    {{/caminhos}}
  </table>
  {{^caminhos}}
  <div class="card-body"><p>Ainda não foram adicionados caminhos.</p></div>
    {{/caminhos}}
</div>
<br>